flows_ORD02273.json
[{"id":"3f2fbb93.508784","type":"tab","label":"prestige-employee-service"},{"id":"7635101f.1691a","type":"tab","label":"prestige-endorsement-service"},{"id":"f9296fb0.c3817","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"c12c1252.c5f17","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"employee-service","name":"Employee Service"},{"id":"86664b14.8d47c8","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"prestige-employee-db","name":"prestige-employee-db"},{"id":"24a775da.417f6a","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"prestige-endorsement-db","name":"prestige-endorsement-db"},{"id":"dfceb8e9.f4ff88","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee","method":"get","swaggerDoc":"","x":220,"y":140,"wires":[["8ee3db01.b1be78"]]},{"id":"45646d16.081654","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee","method":"post","swaggerDoc":"","x":220,"y":260,"wires":[["5b48a56f.f0f46c","227bb70f.0d6d08"]]},{"id":"ad45c81c.ceb6d8","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee/:username","method":"delete","swaggerDoc":"","x":260,"y":300,"wires":[["5b48a56f.f0f46c","65784e84.cc5d7"]]},{"id":"fc3162f9.33e54","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee/:username","method":"put","swaggerDoc":"","x":250,"y":340,"wires":[["d2dcfe6d.596a8"]]},{"id":"8dd836a7.905478","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee/:username","method":"get","swaggerDoc":"","x":250,"y":180,"wires":[["b8765f04.935b3"]]},{"id":"caf0ead3.02ed78","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement","method":"get","swaggerDoc":"","x":250,"y":80,"wires":[["a6619c16.dba86"]]},{"id":"e2e0a2a.ad36d6","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/search/findByGranterUsername","method":"get","swaggerDoc":"","x":350,"y":160,"wires":[["646fec88.868274"]]},{"id":"48d7e630.323f98","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement","method":"post","swaggerDoc":"","x":250,"y":280,"wires":[["8a4d2523.4882b8","c5038825.b5bcb8"]]},{"id":"6255196.e9f85e8","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/:id","method":"delete","swaggerDoc":"","x":270,"y":360,"wires":[["8a4d2523.4882b8","9e7f5f12.68b3e"]]},{"id":"97ffec33.cdbef","type":"http in","z":"7635101f.1691a","name":"","url":"/like","method":"get","swaggerDoc":"","x":220,"y":440,"wires":[["1faf7352.66ed3d"]]},{"id":"900e6817.f11918","type":"http in","z":"7635101f.1691a","name":"","url":"/like","method":"post","swaggerDoc":"","x":220,"y":520,"wires":[["4a72cf1c.04f17"]]},{"id":"79197dbd.212f64","type":"http in","z":"7635101f.1691a","name":"","url":"/category","method":"get","swaggerDoc":"","x":240,"y":680,"wires":[["97bb503d.de8c9"]]},{"id":"e029047b.86e7b8","type":"http in","z":"7635101f.1691a","name":"","url":"/category","method":"post","swaggerDoc":"","x":240,"y":720,"wires":[["43ec54ca.3a8a5c","614fdf17.311ef"]]},{"id":"a5ed8f2c.febdc","type":"http in","z":"3f2fbb93.508784","name":"","url":"/role","method":"get","swaggerDoc":"","x":200,"y":420,"wires":[["1ade5864.4e95a8"]]},{"id":"b7d0a4d6.1cd228","type":"http in","z":"7635101f.1691a","name":"","url":"/like/:id","method":"delete","swaggerDoc":"","x":240,"y":600,"wires":[["3fce14fa.d46a8c","62e2b893.6a6438"]]},{"id":"6d35ab83.eeab74","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/:id","method":"put","swaggerDoc":"","x":260,"y":320,"wires":[["e1097752.5d09f8"]]},{"id":"c317990f.a4d0f8","type":"http in","z":"7635101f.1691a","name":"","url":"/like/:id","method":"put","swaggerDoc":"","x":230,"y":560,"wires":[["47077819.6902a8"]]},{"id":"b626c48f.7458a8","type":"http in","z":"7635101f.1691a","name":"","url":"/category/:id","method":"delete","swaggerDoc":"","x":250,"y":760,"wires":[["a49efe85.6d9f1","43ec54ca.3a8a5c"]]},{"id":"5f6e5eb8.cacee","type":"http in","z":"3f2fbb93.508784","name":"","url":"/role","method":"post","swaggerDoc":"","x":200,"y":460,"wires":[["34d408f4.e99788","f10620a5.a085c"]]},{"id":"55ea5395.224a5c","type":"http in","z":"3f2fbb93.508784","name":"","url":"/role/:title","method":"delete","swaggerDoc":"","x":220,"y":500,"wires":[["ad881ce6.35f77"]]},{"id":"8ee3db01.b1be78","type":"function","z":"3f2fbb93.508784","name":"find all","func":"msg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["ac7b7e92.7760a"]]},{"id":"1ade5864.4e95a8","type":"function","z":"3f2fbb93.508784","name":"find all","func":"msg.payload = '{}';\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":420,"wires":[["8367c69c.fb6098"]]},{"id":"3b9c604.a5fc9a","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/search/findByReceiverUsername","method":"get","swaggerDoc":"","x":360,"y":200,"wires":[["ff819ccf.8bd24"]]},{"id":"9028b1fa.8a967","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/search/findByCategory","method":"get","swaggerDoc":"","x":320,"y":240,"wires":[["9758dabf.f8ac88"]]},{"id":"693629e6.9ed668","type":"http in","z":"7635101f.1691a","name":"","url":"/endorsement/:id","method":"get","swaggerDoc":"","x":260,"y":120,"wires":[["72b3cb27.d7fd14"]]},{"id":"b74fd07d.36269","type":"http in","z":"7635101f.1691a","name":"","url":"/like/search/findByGranterUsername","method":"get","swaggerDoc":"","x":320,"y":480,"wires":[["54dc560d.847568"]]},{"id":"a0e5658c.f39798","type":"http in","z":"3f2fbb93.508784","name":"","url":"/employee/search/findByRole","method":"get","swaggerDoc":"","x":280,"y":220,"wires":[["dd45ef44.baca7"]]},{"id":"b8765f04.935b3","type":"function","z":"3f2fbb93.508784","name":"find :username","func":"msg.payload = { \"username\": msg.req.params.username };\nmsg.limit = 1;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":180,"wires":[["ac7b7e92.7760a"]]},{"id":"dd45ef44.baca7","type":"function","z":"3f2fbb93.508784","name":"findByRoleTitle","func":"msg.payload = { \"roles\": msg.payload.role };\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":220,"wires":[["ac7b7e92.7760a"]]},{"id":"ac7b7e92.7760a","type":"mongodb in","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"find","collection":"employee","operation":"find","x":790,"y":180,"wires":[["5b48a56f.f0f46c"]]},{"id":"5b48a56f.f0f46c","type":"http response","z":"3f2fbb93.508784","name":"","x":1010,"y":260,"wires":[]},{"id":"227bb70f.0d6d08","type":"mongodb out","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"insert","collection":"employee","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":710,"y":260,"wires":[]},{"id":"d1e60837.481198","type":"mongodb out","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"remove","collection":"employee","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":720,"y":300,"wires":[]},{"id":"f6c3d667.bc6fd8","type":"mongodb out","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"update","collection":"employee","payonly":false,"upsert":false,"multi":false,"operation":"update","x":1020,"y":340,"wires":[]},{"id":"65784e84.cc5d7","type":"function","z":"3f2fbb93.508784","name":"delete :username","func":"msg.payload = {\"username\":msg.req.params.username };\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":300,"wires":[["d1e60837.481198"]]},{"id":"4ac74cc5.4254d4","type":"function","z":"3f2fbb93.508784","name":"update :username","func":"msg.payload = msg.payload[0];\nmsg.query = { \"_id\": msg.payload._id };\n\nfor (var k in msg.originalpayload) {\n    for (var key in msg.payload) {\n        if (k == key)\n            msg.payload[key] = msg.originalpayload[k];\n    }\n}\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["5b48a56f.f0f46c","f6c3d667.bc6fd8"]]},{"id":"8367c69c.fb6098","type":"mongodb in","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"find","collection":"role","operation":"find","x":550,"y":420,"wires":[["f10620a5.a085c"]]},{"id":"34d408f4.e99788","type":"mongodb out","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"insert","collection":"role","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":390,"y":460,"wires":[]},{"id":"6be9ff81.70476","type":"mongodb in","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"find","collection":"employee","operation":"find","x":630,"y":340,"wires":[["4ac74cc5.4254d4"]]},{"id":"d2dcfe6d.596a8","type":"function","z":"3f2fbb93.508784","name":"find :username","func":"msg.originalpayload = msg.payload;\nmsg.payload = { \"username\": msg.req.params.username };\nmsg.limit = 1;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["6be9ff81.70476"]]},{"id":"f10620a5.a085c","type":"http response","z":"3f2fbb93.508784","name":"","x":1010,"y":460,"wires":[]},{"id":"ad881ce6.35f77","type":"function","z":"3f2fbb93.508784","name":"delete :username","func":"msg.payload = { \"title\": msg.req.params.title };\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":500,"wires":[["fd2de179.5e64e","f10620a5.a085c"]]},{"id":"fd2de179.5e64e","type":"mongodb out","z":"3f2fbb93.508784","mongodb":"86664b14.8d47c8","name":"remove","collection":"role","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":640,"y":500,"wires":[]},{"id":"a6619c16.dba86","type":"function","z":"7635101f.1691a","name":"find all","func":"msg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["3b3cf4c0.bc442c"]]},{"id":"8a4d2523.4882b8","type":"http response","z":"7635101f.1691a","name":"","x":1110,"y":220,"wires":[]},{"id":"3b3cf4c0.bc442c","type":"mongodb in","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"find","collection":"endorsement","operation":"find","x":930,"y":160,"wires":[["8a4d2523.4882b8"]]},{"id":"72b3cb27.d7fd14","type":"function","z":"7635101f.1691a","name":"find :id","func":"var ObjectID = global.get('ObjectID');\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\nmsg.limit = 1;\nmsg.skip = 0;\n\nreturn msg;","outputs":"1","noerr":0,"x":690,"y":120,"wires":[["3b3cf4c0.bc442c"]]},{"id":"646fec88.868274","type":"function","z":"7635101f.1691a","name":"findByGranter","func":"msg.payload = { \"granter\": msg.req.query.granter };\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":160,"wires":[["3b3cf4c0.bc442c"]]},{"id":"ff819ccf.8bd24","type":"function","z":"7635101f.1691a","name":"findByReceiver","func":"msg.payload = { \"receiver\": msg.req.query.receiver };\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":200,"wires":[["3b3cf4c0.bc442c"]]},{"id":"9758dabf.f8ac88","type":"function","z":"7635101f.1691a","name":"findByCategory","func":"msg.payload = { \"categories\": msg.req.query.category };\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["3b3cf4c0.bc442c"]]},{"id":"cf604eb3.9cf1","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"insert","collection":"endorsement","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":610,"y":280,"wires":[]},{"id":"bb530be6.743098","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"insert","collection":"endorsement","payonly":true,"upsert":false,"multi":false,"operation":"update","x":1110,"y":320,"wires":[]},{"id":"c0c56972.6fc778","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"remove","collection":"endorsement","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":860,"y":360,"wires":[]},{"id":"c5038825.b5bcb8","type":"function","z":"7635101f.1691a","name":"addDate","func":"var d = new Date();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nmsg.payload.created = year + \"-\" + month + \"-\" + day;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":280,"wires":[["cf604eb3.9cf1"]]},{"id":"6358495d.1cc918","type":"function","z":"7635101f.1691a","name":"update :id","func":"msg.payload = msg.payload[0];\nmsg.query = { \"_id\": msg.payload._id };\n\nfor (var k in msg.originalpayload) {\n    for (var key in msg.payload) {\n        if (k == key)\n            msg.payload[key] = msg.originalpayload[k];\n    }\n}\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":320,"wires":[["8a4d2523.4882b8","bb530be6.743098"]]},{"id":"9ad2b88b.af3a38","type":"mongodb in","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"find","collection":"endorsement","operation":"find","x":690,"y":320,"wires":[["6358495d.1cc918"]]},{"id":"e1097752.5d09f8","type":"function","z":"7635101f.1691a","name":"find :id","func":"var ObjectID = global.get('ObjectID');\n\nmsg.originalpayload = msg.payload;\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\nmsg.limit = 1;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[["9ad2b88b.af3a38"]]},{"id":"9e7f5f12.68b3e","type":"function","z":"7635101f.1691a","name":"delete :id","func":"var ObjectID = global.get('ObjectID');\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\n\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["c0c56972.6fc778"]]},{"id":"12a00e07.41d4c2","type":"mongodb in","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"find","collection":"like","operation":"find","x":930,"y":460,"wires":[["62e2b893.6a6438"]]},{"id":"1faf7352.66ed3d","type":"function","z":"7635101f.1691a","name":"find all","func":"msg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":440,"wires":[["12a00e07.41d4c2"]]},{"id":"54dc560d.847568","type":"function","z":"7635101f.1691a","name":"findByGranter","func":"msg.payload = { \"granter\": msg.req.query.granter };\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":480,"wires":[["12a00e07.41d4c2"]]},{"id":"62e2b893.6a6438","type":"http response","z":"7635101f.1691a","name":"","x":1150,"y":540,"wires":[]},{"id":"3f7c84e1.8a2ccc","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"insert","collection":"like","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":550,"y":520,"wires":[]},{"id":"4a72cf1c.04f17","type":"function","z":"7635101f.1691a","name":"addDate","func":"var d = new Date();\nvar year = d.getFullYear();\nvar month = d.getMonth()+1;\nvar day = d.getDate();\nmsg.payload.created = year + \"-\" + month + \"-\" + day;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["3f7c84e1.8a2ccc","62e2b893.6a6438"]]},{"id":"47077819.6902a8","type":"function","z":"7635101f.1691a","name":"find :id","func":"var ObjectID = global.get('ObjectID');\n\nmsg.originalpayload = msg.payload;\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\nmsg.limit = 1;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":560,"wires":[["660fadaf.db8814"]]},{"id":"660fadaf.db8814","type":"mongodb in","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"find","collection":"like","operation":"find","x":570,"y":560,"wires":[["1a50f00d.4062e"]]},{"id":"1a50f00d.4062e","type":"function","z":"7635101f.1691a","name":"update :id","func":"msg.payload = msg.payload[0];\nmsg.query = { \"_id\": msg.payload._id };\n\nfor (var k in msg.originalpayload) {\n    for (var key in msg.payload) {\n        if (k == key)\n            msg.payload[key] = msg.originalpayload[k];\n    }\n}\n\nmsg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":560,"wires":[["69b0f913.b20548","62e2b893.6a6438"]]},{"id":"69b0f913.b20548","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"insert","collection":"like","payonly":true,"upsert":false,"multi":false,"operation":"update","x":990,"y":560,"wires":[]},{"id":"3fce14fa.d46a8c","type":"function","z":"7635101f.1691a","name":"delete :id","func":"var ObjectID = global.get('ObjectID');\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":600,"wires":[["2f6d2e3f.b07252"]]},{"id":"2f6d2e3f.b07252","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"remove","collection":"like","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":730,"y":600,"wires":[]},{"id":"97bb503d.de8c9","type":"function","z":"7635101f.1691a","name":"find all","func":"msg.limit = 100;\nmsg.skip = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["c0acc550.47d7b8"]]},{"id":"c0acc550.47d7b8","type":"mongodb in","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"find","collection":"category","operation":"find","x":710,"y":680,"wires":[["43ec54ca.3a8a5c"]]},{"id":"43ec54ca.3a8a5c","type":"http response","z":"7635101f.1691a","name":"","x":990,"y":720,"wires":[]},{"id":"614fdf17.311ef","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"insert","collection":"category","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":490,"y":720,"wires":[]},{"id":"a49efe85.6d9f1","type":"function","z":"7635101f.1691a","name":"delete :id","func":"var ObjectID = global.get('ObjectID');\nmsg.payload = { \"_id\": ObjectID(msg.req.params.id) };\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["d962525.d45a4b"]]},{"id":"d962525.d45a4b","type":"mongodb out","z":"7635101f.1691a","mongodb":"24a775da.417f6a","name":"remove","collection":"category","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":770,"y":760,"wires":[]}]